@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root{
    /*Color System - Defaults to Cyan */
    --bg-base: #06070a;
    --bg-card: rgba(18, 20, 28, 0.55);
    --bg-card-hover: rgba(26,30, 43, 0.8);
    --border-color: rgba(255, 255, 255, 0.07);
    --border-hover: rgba(0, 242, 254, 0.3); 

    --acent-cyan: #00f2fe;
    --acent-purple: #8f00ff;
    --acent-gradient: linear-gradient(135deg, #00f2fe 0%, #8f00ff 100%);
    --acent-gradient-hover: linear-gradient(135deg, #8f00ff 0%, #00f2fe 100%);

    --text-primary: #ffffff;
    --text
}
